<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0_delay-0.1s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{192,282}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1,203},{192,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_1_delay-0.1s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_2_delay-0.1s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{192,282}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{253,293},{192,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_3_delay-0.1s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{128,290}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{267,1},{128,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_4_delay-0.1s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{56,282}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{195,203},{56,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_5_delay-0.1s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{128,290}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{397,1},{128,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bitcoin.png</string>
            <key>size</key>
            <string>{536,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98b345d0fa486eeffbe0a27c5ca4dfba:87dfd2220c619f598c37c58698c08b8b:1c2fbfac7499c56cc6ad425fac0a8d02$</string>
            <key>textureFileName</key>
            <string>bitcoin.png</string>
        </dict>
    </dict>
</plist>
